/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Permanent+Marker&family=Walter+Turncoat&display=swap');

/* reset styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main {
    background-color: #91A2AF;
    min-height: 100vh;
}
body{
    font-size: 16px;
    font-family: Montserrat;
} 
h1 {
    font-family: Walter Turncoat;
    text-align: center;
    color: #04162B;
    background-color: #91A2AF;
    padding: 10px;
} 
h2 {
    font-family: Walter Turncoat;
    font-size: 25px;
    color: #04162B;
    padding: 10px;
}
#background {
    background: 
    url('/assets/images/start.png')
    no-repeat;
    width: 100%;
    background-size: 100% ;
    min-height: 100vh;
    overflow: auto; 
}
#instruct {
    font-size: 20px;
    color: #04162B;
    border-radius: 5px;
    background-color: #D7E8F1;
    display: block;
    margin: 40px auto;
    width: 50%;
    padding-bottom: 20px;
}
ul {
    list-style-type: none; 
}
#start {
    align-content: center;
    text-align: center;  
} 
#start-btn {
    margin-top: 30px;
    border-radius: 5px;
    background-color: #91A2AF;
    border: none;
    color: #04162B;
    font-size: 20px;
    padding: 15px 32px;
    text-align: center;
    display: inline;
}
#start-btn:hover {
    border: 3px solid #D7E8F1;
}